* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: rgb(215, 219, 223);
    
}

/* Container element defines width of ids */
.container {
    width: 100%;
    max-width: 960px; 
    margin: 0 auto;
    padding: 20px;
}

header {
    background-image: url(https://thumbs.dreamstime.com/b/modern-dark-brick-wall-pattern-decorative-stone-wall-background-surface-black-wall-texture-modern-dark-brick-wall-pattern-174545981.jpg);
    padding: 10px;
    display: flex;
}

.portfolio-photo {
    width: 120px;
    height: 120px;
    margin-right: 0px;
    border-radius: 10px;
}

nav ul {
    list-style: none;
}

nav .name {
    font-size: 20px;
    font-weight: bold;
    color: #221b1b;
    background-color: rgb(215, 219, 223);
    background-blend-mode: color-burn;
    padding: 10x;
}

nav ul li {
    display: inline;
    text-align: center;
    margin: 10px;
}

nav ul li a {
    color: #221b1b;
    background-color: rgb(215, 219, 223);
    background-blend-mode: color-burn;
    text-decoration:underline;
    text-align: center;
    border-radius: 1px;
}

section {
    padding: 40px 0;
}

.h2 {
    background-color:#221b1b;
    color: rgb(215, 219, 223);
}

/* large-portfolio define elements of highlighted work's image and label */
.large-portfolio-example {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.large-portfolio-example img {
    max-width: 100%;
    height: auto;
}

.large-example-label {
    background-color: #221b1b;
    color: rgb(215, 219, 223);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
}

/* portfolio-examples define layout spacing between works */
.portfolio-examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Defines sizing of example works portfolio-example class */
.portfolio-example {
    width: 48%; 
    margin-bottom: 20px;
    position: relative;
}

/* Controls all image sizing under portfolio-example img class */
.portfolio-example img {
    max-width: 100%;
    height: auto;
}

/* Defines label elements for all remaining works for classes under example-label */
.example-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:rgb(215, 219, 223);
    color: #221b1b;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

/* google-docs-embed positions live resume */
.google-docs-embed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Sizes live resume */
.google-docs-embed iframe {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    border: none;
}

/* Formats footer header and element background */
footer {
    text-align: center;
    padding: 10px;
    background-image: url(https://thumbs.dreamstime.com/b/modern-dark-brick-wall-pattern-decorative-stone-wall-background-surface-black-wall-texture-modern-dark-brick-wall-pattern-174545981.jpg);
    color: rgb(215, 219, 223);
}

/* Formats contact information within footer */
footer ul {
    list-style: none; 
    display: flex;
    justify-content: center; 
    padding: 0;
    background-color: rgb(215, 219, 223);
    border-radius: 10px;
    max-width: 100%;
}

/* Positions margins for contacts */
footer ul li {
    margin: 0 10px;
}

footer ul li:first-child {
    margin-left: 0; 
}

footer ul li:last-child {
    margin-right: 0; 
}